@font-face {
    font-family: Poppins;
    src: url('fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Montserrat;
    src: url('fonts/montserrat/Montserrat-Regular.ttf');
}

body{
    font-family: Montserrat;
}
header{
   
    height: 100px;
}
.botao {
    color: white;
    background-color:  #FA4A0C;
    border-radius: 30px;
    font-size: 24px;
    color: white;
    text-decoration: none;
    padding:16px 0px;
    width: 236px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: inline-block;
    text-align:center;
}

.app {
    border: 1px solid white;
    background-color: transparent;
    margin-left: 34px;
}
h2{
    margin-top: 60px;
}
h1{
    font-family: 'Poppins';
    margin-top: 17px;
    margin-bottom: 27px;
}

.container h1, .container h2, .container h3{
    text-align: center;
    color: white;
  
}

.container {
    background-color: black;
    background-image: url("images/banner.jpg");
    background-size: cover;
    width: 1440px;
    height: 619px;
    text-align: center;
}